<!DOCTYPE html>
<html>
<head>	
	<title>sample html</title>
</head>
<body bgcolor="#00ffff">
	<center>
		<h1>This is example of html</h1>
	</center>
	<p>
		Django is a web application framework written in Python programming language. By using Django, we can build web applications in very less time. ... Django is designed in such a manner that it handles much of configure things automatically, so we can focus on application development only.
	</p>
	<h3 style="background-color: #ff1aff;font-size:20px;margin-left:20px;margin-right:20px;margin-top:5px;font-style:italic;padding:5px;text-align:center;border:solid;border-left:dashed;border-right:dashed;text-shadow:1px 2px #ffcc00;">web developement with python using django</h3>
</body>
</html>